/* custome style */

.nav.child_menu>li>a {
  display: inline-block;
}

a.subarrow{
  position: absolute!important;
  right: 0px;
}
.subarrow .fa{
  font-size: 10px;
  text-align: center;
}

.x_panel{
	padding-bottom: 50px;
}
.x_panel .btn {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.add-page{
	width: 100%;
    margin-top: 50px;
    text-align: center;
}
.sudo-btn {
    width: 120px;
    height: 120px;
    margin: 0px auto;
    padding: 10px 5px;
    font-size: 40px;
    border: 1px solid;
    border-radius: 5px;
	cursor: pointer;
	background: #26B99A;
}
.sudo-btn:hover{
  background: #169F85;
}
.sudo-btn  a{
	color: white;
}

.x_content h4{
	display: inline;
}
.x_content ul li {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dashed;
    height: 25px;
    box-sizing: content-box;
}

.x_content ul li ul li {
    border-bottom: 0px;
}

.page_toolbox{
	float: right;
}